body {
  font-family: "Segoe UI", sans-serif;
  cursor: default;
}

#Page-TitleBar {
  background-color: green; color: white;
  padding: 10px;
  font-size: 28px;
  position: fixed;
  z-index: 2;
  left: 0; top: 0;
  width: 100%;
}

#Page-Content {
  padding: 10px;
  background-color: #d9d9d9;
  z-index: 1;
  margin-top: 62px;
}

.Tile {
  display: inline-block;
}

.Tile-Title {
  z-index: 2;
  background-color: lightgray;
  font-size: 20px;
}

.Tile-Content {
  z-index: 1;
  position: relative;
  top: -27px;
  background-color: black; color: white;
}

.Tile-Title:hover {
  animation-name: ToggleTileOpacity;
  animation-duration: 1s;
}

@keyframes ToggleTileOpacity {
  from { opacity: 1; }
  to { opacity: 0; } 
}
