body {
  font-family: "Segoe UI", sans-serif;
  cursor: default;
}

#Page-TitleBar {
  background-color: green; color: white;
  padding: 10px;
  font-size: 28px;
  position: fixed;
  z-index: 2;
  left: 0; top: 0;
  width: 100%;
}

#Page-Content {
  padding: 10px;
  background-color: #d9d9d9;
  z-index: 1;
  margin-top: 62px;
}

.Tile {
  background-color: black;
  border-radius: 10px;
  display: inline-block;
  height: 300px;
}

.Tile-Title {
  z-index: 2;
  background-color: lightgray;
  font-size: 20px;
  position: relative;
  height: 300px;
  padding: 10px;
}

.Tile-Content {
  position: relative;
  top: -320px;
  color: white;
  padding: 10px;
}

@media screen and (min-width: 541px) {
  .Tile { width: 350px; }
  .Tile-Title { width: 350px; }
}

@media screen and (max-width: 540px) {
  .Tile { width: calc(100% - 20px); }
  .Tile-Title { width: calc(100% - 20px); }
}

.Tile-Title:hover {
  animation-name: ToggleTileOpacity;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes ToggleTileOpacity {
  from { opacity: 1; }
  to { opacity: 0; } 
}
